    <div class="wrapper ">
      <div class="sidebar sidebar-image" data-color="purple" data-background-color="white" >
      
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo">
          <a href="dashboard" class="simple-text logo-normal">
            <img src="https://i.ibb.co/z261rpn/logo-backgroung.png" width='200px'  margin-legt='30px' alt="logo-backgroung" border="0" margin-legt='30px' />
          </a>
        </div>
        <div class="logo">
          <a href= "dashboard" class="simple-text logo-normal">
            <div class="row">
              <div class="col-3">
                <img src="https://i.ibb.co/fG602hk/user-icon.png"  width="60px" height="50px" alt="user" border="0" />
              </div>
              <div class="col-3">
                <div class = "row">
                  <div class="user-name">
                    <%=@user.first_name + ' ' + @user.last_name%>
                  </div>
                </div>
                <div class= 'row'>
                  <div class='user-email'>
                    <%=@user.email%>
                  </div>
                </div>
              </div>
              <div class='col-6'>
                <div class="supper-admin">
                  (Supper Admin)
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="sidebar-wrapper">
          <ul class="nav">
            <li class="nav-item dashboard-link  ">
              <a class="nav-link" href="/dashboard">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
              </a>
            </li>

            <li class="nav-item  sites-link">
              <a class="nav-link" href="/sites">
                <i class="material-icons">content_paste</i>
                <p>Sites Management</p>
              </a>
            </li>

            <li class="nav-item manegers-link active">
              <a class="nav-link" href="/manegers">
                <i class="material-icons">person</i>
                <p class="heading-color">My Manegars</p>
              </a>
            </li>
            <li class="nav-item notifications-link">
              <a class="nav-link" href="/notifications">
                <i class="material-icons">notifications</i>
                <p>Push Notifications</p>
              </a>
            </li>
            
            
          </ul>
        </div>
      </div>
      <div class="main-panel">
        <%= yield %>
      </div>
    </div>
    </div>

    <script>
    $(document).ready(function() {
      $().ready(function() {

        $('.dashboard-link').click(function(){
          $('.dashboard-link').css("background", "red");
          // console.log("I am dashboard clicked")
          // $('.sites-link').removeClass('active');
          // $('.manegers-link').removeClass('active');
          // $('.notifications-link').removeClass('active');
          // $('.support-link').removeClass('active');
          // $('.dashboard-link').addClass('active');
        });
        $('.sites-link').click(function(){
          // $('.dashboard-link').removeClass('active');
          // $('.manegers-link').removeClass('active');
          // $('.notifications-link').removeClass('active');
          // $('.support-link').removeClass('active');
          // console.log("I am sites clicked")
          // $(this).siblings().removeClass('active');
          // $('.sites-link').addClass('active');
        });
        $('.manegers-link').click(function(){
          // $('.sites-link').removeClass('active');
          // $('.dashboard-link').removeClass('active');
          // $('.notifications-link').removeClass('active');
          // $('.support-link').removeClass('active');
          // console.log("I am manegers clicked")
          // // $(this).siblings().removeClass('active');
          // $('.manegers-link').addClass('active');
        });
        $('.notifications-link').click(function(){
          // $('.sites-link').removeClass('active');
          // $('.manegers-link').removeClass('active');
          // $('.dashboard-link').removeClass('active');
          // $('.support-link').removeClass('active');
          // console.log("I am  notifications clicked")
          // $(this).siblings().removeClass('active');
          // $('.notifications-link').addClass('active');
        });
        $('.support-link').click(function(){
          // $('.sites-link').removeClass('active');
          // $('.manegers-link').removeClass('active');
          // $('.notifications-link').removeClass('active');
          // $('.dashboard-link').removeClass('active');
          // console.log("I am support clicked")
          // $(this).siblings().removeClass('active');
          // $('.support-link').addClass('active');
        });
      });
    });
  </script>