<div class="navbar-header">
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete  ,class: "logout-link" %>
  <h1 class="navbar-heading">Manegers Manegement</h1>
  <p class="sub-heading">Add new maneger</p>
</div>
<%= link_to 'Sign up', new_user_registration_path %>
<%= render 'manegers/admin' %>