<div class="navbar-header">
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete  ,class: "logout-link" %>
  <h1 class="navbar-heading">Notifications Manegement</h1>
  <p class="sub-heading">new notifications</p>
</div>
