.navbar-header {
  height: 75px;
  background-image: linear-gradient(#26266f, #0c641e)
}
.sidebar[data-color=purple] li.active>a {
  background-color: #26266f;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(156,39,176,.4);
}
.navbar-heading {
  font-size: 30px;
  color: white;
  font-family: none;
  margin-left: 60px;
  line-height: 1.8;
}

.sub-heading {
  color: white;
  margin-left: 65px;
  MARGIN-TOP: -16PX;
}
.heading-color {
	color: white !important;
}
.container-fluid {
  width: 100%;
  padding-right: 60px;
  padding-left: 60px;
  margin-right: auto;
  margin-left: auto;
}
.logout-link {
  float: right;
  color: white;
  margin-right: 20px;
  line-height: 4;
}

.logout-link:hover{
  color: white !important;
}