.navbar-header {
  height: 75px;
  background-image: linear-gradient(#26266f, #0c641e)
}
.sidebar[data-color=purple] li.active>a {
  background-color: #26266f;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(156,39,176,.4);
}
.navbar-heading {
  font-size: 30px;
  color: white;
  font-family: none;
  margin-left: 60px;
  line-height: 1.8;
}

.heading-color {
	color: white !important;
}
.sub-heading {
  color: white;
  margin-left: 65px;
  MARGIN-TOP: -16PX;
}
.btn-primary {
  background: #26266f !important;
  color: white !important;
}
.add-manger-button{
  background: #1f9e1f  !important;
  float: right;
  top: -57px;
  margin-bottom: -40px;
}

.form-control, .is-focused .form-control {
  background-image: linear-gradient(0deg,#09177b 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0);
}

.card-header-primary{
  background: #26266f !important;
}

.container-fluid {
  width: 100%;
  padding-right: 60px;
  padding-left: 60px;
  margin-right: auto;
  margin-left: auto;
}
.logout-link {
  float: right;
  color: white;
  margin-right: 20px;
  line-height: 4;
}

.logout-link:hover{
  color: white !important;

}

.search-seaction{
  margin-top: 58px;
  margin-left: 120px;
}

.add-site-button {
  float: right;
  margin-right: 120px;
}

.supper-admin {
  font-size: 10px;
  color: green;
  margin-top: 2px; 
}
.user-email
{
  font-size: 9px;
  margin-top: -5px;

}
.select2-dropdown--below {
  width: 500px !important;
  top: -15px;
  border: 1px solid gray !important;
  border-top: none !important;
}
.select2-selection__rendered {
  line-height: 37px !important
}
.select2-selection--single{
  height: 38px !important;
  background: white !important;
  border: 1px solid gray !important;
  border-radius: 5px !important;
  width: 500px !important
}
.select2-selection__arrow {
  height: 37px !important;
  background: white !important;
  border-bottom: 1px solid gray !important;
  border-right: 1px solid gray !important;
  border-left: none !important;
  left: 480px !important;
}
.search-button {
  margin-left: 430px !important;
  // top: -2px;
}
