    <div class="wrapper ">
      <div class="sidebar sidebar-image" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo">
          <a href="dashboard" class="simple-text logo-normal">
            <img src="/assets/logo.png" alt="MyInc Logo" height="80px" />
            <%# @App %>
          </a>
        </div>
        <div class="logo">
          <a href= "dashboard" class="simple-text logo-normal">
            Supper Admin
          </a>
        </div>
        <div class="sidebar-wrapper">
          <ul class="nav">
            <li class="nav-item dashboard-link  ">
              <a class="nav-link" href="dashboard">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
              </a>
            </li>

            <li class="nav-item  active">
              <a class="nav-link" href="sites">
                <i class="material-icons">content_paste</i>
                <p>Sites Management</p>
              </a>
            </li>

            <li class="nav-item manegers-link">
              <a class="nav-link" href="manegers">
                <i class="material-icons">person</i>
                <p>My Manegers</p>
              </a>
            </li>
            <li class="nav-item notifications-link">
              <a class="nav-link" href="notifications">
                <i class="material-icons">notifications</i>
                <p>Push Notifications</p>
              </a>
            </li>
            <li class="nav-item support-link">
              <a class="nav-link" href="">
                <i class="material-icons">language</i>
                <p>@App Support</p>
              </a>
            </li>
            
          </ul>
        </div>
      </div>
      <div class="main-panel">
        <%= yield %>
      </div>
    </div>
    </div>
