<div class="navbar-header">
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete  ,class: "logout-link" %>
  <h1 class="navbar-heading">Sites Manegement</h1>
  <p class="sub-heading">All sites</p>
</div>
<%= render 'sites/admin' %>