<div class="navbar-header">
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete  ,class: "logout-link" %>
  <h1 class="navbar-heading">Sites Manegement</h1>
  <p class="sub-heading">New Site</p>
</div>

<div class="search-seaction">
    <div class="container-fluid">
      <div class="row">
        <div class="col-8">
          
          </form>
        </div>
        <div class="col-4">
          <div class="add-site-button">
            <a href="/sites/new_site_bY_map" class="btn btn-primary btn-round">Add New Site By Map</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= render 'sites/search' %>
<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Add new site</h4>
              <p class="card-category"></p>
            </div>
            <div class="card-body">
              <form action="/sites" method="POST">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Name</label>
                      <input type="text" name="name" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Phone No</label>
                      <input type="text" name="contact" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">Adress</label>
                      <input type="text" name="address" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  
                </div>
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>

  <%= render 'sites/admin' %>