    <div class="wrapper ">
      <div class="sidebar sidebar-image" data-color="purple" data-background-color="white">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

          Tip 2: you can also add an image using data-image tag
      -->
        
      </div>
      <div class="main-panel">
        <%= yield %>
      </div>
    </div>
    </div>

  